html, body {
  font-size: 16px !important; }

body {
  background: #eee; }

.pad30 {
  padding-top: 30px; }

.pad60 {
  padding-top: 60px; }

.btn.btn-default {
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #05BDFF;
  border: none;
  color: #fff;
  font-size: 15px;
  outline: none;
  box-shadow: none; }

.btn.btn-primary {
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  background-color: #78D44F;
  border: none; }

.btn.btn-success {
  background: #78D44F;
  border-color: #78D44F;
  outline: none;
  box-shadow: none; }

h4.legend {
  color: #373737;
  font-size: 18px; }

.btn-icon {
  background: none;
  border: 0px;
  outline: 0px;
  padding: 0px; }
  .btn-icon:focus {
    outline: none; }

.minus-top-2 {
  position: relative;
  top: -2px; }

.color-white {
  color: #fff !important; }

.bg-white {
  background: #fff !important; }

hr.line {
  box-sizing: border-box;
  height: 2px;
  border: 1px solid #FFFFFF;
  opacity: 0.3; }

.font-small {
  font-size: 13px !important; }

.font-medium {
  font-size: 16px !important; }

.font-lead {
  font-size: 21px !important; }

.font-large {
  font-size: 24px !important; }

.attach_client {
  position: relative;
  top: -5px; }
  .attach_client .checkbox-input {
    width: 24px;
    height: 24px;
    border: 2px solid #eee;
    border-radius: 4px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 6px; }
  .attach_client input {
    display: none; }
  .attach_client input:checked + .checkbox-input {
    background: #05BDFF;
    border-color: #05BDFF; }
    .attach_client input:checked + .checkbox-input:before {
      content: "";
      width: 20px;
      height: 20px; }
  .attach_client label {
    color: #888; }

form label {
  font-size: 13px;
  margin-bottom: 3px;
  color: #777; }

form .form-control {
  outline: none;
  border: none;
  border-radius: 4px; }

#main {
  margin-bottom: 60px; }

.radio-group .radio-input {
  display: inline-block;
  border: 1px solid #05BDFF;
  margin: 0px -3px; }
  .radio-group .radio-input input {
    display: none; }
  .radio-group .radio-input label {
    padding: 10px 30px;
    margin: 0px;
    cursor: pointer;
    font-size: 15px; }
  .radio-group .radio-input input:checked + label {
    background: #05BDFF;
    color: #fff; }

.form-control {
  padding: 10px 10px;
  border: 1px solid #ddd !important; }

img.check {
  width: 20px;
  position: relative;
  top: -1px; }

.search-label img {
  width: 18px;
  position: relative;
  top: -2px; }

.nav {
  position: fixed;
  bottom: 0px;
  display: block;
  width: 100%;
  background: #fff;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  height: 55px; }
  .nav .menu ul {
    list-style: none;
    margin-bottom: 0px;
    padding: 0px; }
    .nav .menu ul li {
      text-align: center;
      list-style: none;
      display: inline-block;
      width: 100px;
      padding: 5px; }
      .nav .menu ul li a {
        text-decoration: none; }
      .nav .menu ul li.active p {
        color: #05BDFF; }
      .nav .menu ul li.active img {
        -webkit-filter: grayscale(0%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(0%); }
      .nav .menu ul li p {
        margin-bottom: 0px;
        color: #888;
        font-size: 13px; }
      .nav .menu ul li img {
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%); }

.login-page {
  background: #304BB1;
  height: 100vh;
  color: #fff;
  margin-bottom: 0px !important;
  padding: 0px 50px; }
  .login-page .container, .login-page .row {
    height: 100vh; }

/**
 * Home Page
 */
.home-page .home-header {
  padding: 30px 0px;
  background: #304BB1;
  color: #fff; }

.home-actions {
  position: relative; }
  .home-actions .home-action {
    padding: 30px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(2, 2, 2, 0.3);
    border-radius: 4px;
    z-index: 2;
    background: #fff; }
    .home-actions .home-action img {
      width: 90px;
      height: 80px; }
  .home-actions .bg-overlay {
    position: absolute;
    height: 80px;
    background: #304BB1;
    width: 100%;
    z-index: -1; }

.home-page .activity .list-group-item strong, .home-page .activity .list-group-item span {
  padding-left: 5px; }

/**
 * Assessments Page
 */
.inner-page .inner-page-nav a {
  color: inherit;
  text-decoration: none; }

.inner-page .inner-page-header {
  background: #304BB1;
  color: #fff; }
  .inner-page .inner-page-header h4 {
    font-size: 18px;
    font-weight: 600; }
  .inner-page .inner-page-header .inner-page-search {
    position: relative;
    background: #fff;
    border-radius: 4px; }
    .inner-page .inner-page-header .inner-page-search .form-control {
      background: none; }
      .inner-page .inner-page-header .inner-page-search .form-control:focus + label {
        display: none; }
    .inner-page .inner-page-header .inner-page-search label {
      transition: 0.3s; }
    .inner-page .inner-page-header .inner-page-search .search-label {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -34px;
      margin-top: -12px;
      color: #A3A5AB; }

.inner-page .inner-page-list .li-block {
  background: #fff;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd; }
  .inner-page .inner-page-list .li-block.active {
    border-left: 5px solid #05BDFF;
    padding-left: 15px;
    position: relative; }
    .inner-page .inner-page-list .li-block.active:after {
      content: "";
      height: 16px;
      width: 16px;
      background: #eee;
      position: absolute;
      right: -8px;
      top: 50%;
      margin-top: -8px;
      transform: rotate(45deg); }
  .inner-page .inner-page-list .li-block p {
    margin-top: 0px; }
    .inner-page .inner-page-list .li-block p.small {
      color: #888;
      margin-bottom: 0px; }

.inner-page .inner-page-content {
  background: #eee;
  padding: 0px 30px;
  min-height: 100vh; }

.inner-page .common-assessment-content .page-header {
  padding: 30px 0px;
  font-weight: bold; }

.inner-page .common-assessment-content a {
  text-decoration: none; }
  .inner-page .common-assessment-content a:hover {
    text-decoration: none; }

.inner-page .common-assessment-content .single-assessment {
  background: #fff;
  position: relative;
  margin-bottom: 30px; }
  .inner-page .common-assessment-content .single-assessment h3 {
    font-size: 18px;
    color: #304BB1;
    font-weight: 600; }
  .inner-page .common-assessment-content .single-assessment p {
    color: #666; }
  .inner-page .common-assessment-content .single-assessment:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 30px 30px 0;
    border-style: solid;
    border-color: #e3e3e3 #eee; }

/**
 * Clients Page
 */
.clients-page .inner-page-list .li-block.active p:first-child {
  font-weight: 600; }

.single-client-page .client-info-block {
  background: #fff; }
  .single-client-page .client-info-block .client-info .client-details span.font-weight-bold {
    font-weight: 600; }
  .single-client-page .client-info-block .client-info .client-details span.value {
    color: #777; }
  .single-client-page .client-info-block .client-info button img {
    position: relative;
    top: -2px;
    margin-right: 2px; }
  .single-client-page .client-info-block .client-actions {
    border-top: 1px solid #ddd; }
    .single-client-page .client-info-block .client-actions .col-md-6:first-child {
      border-right: 1px solid #ddd; }
    .single-client-page .client-info-block .client-actions button {
      background: none;
      border: 0px;
      padding: 12px;
      outline: none; }

.single-client-page .scheduling .header {
  padding: 10px 0px; }
  .single-client-page .scheduling .header h3 {
    font-weight: 600; }
  .single-client-page .scheduling .header a {
    color: #304BB1;
    margin-left: 15px; }

.single-client-page .scheduling .scheduling-list .single-scheduling {
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid #ddd; }
  .single-client-page .scheduling .scheduling-list .single-scheduling:last-child {
    border-bottom: 0px; }
  .single-client-page .scheduling .scheduling-list .single-scheduling .status .signal {
    height: 10px;
    width: 10px;
    background: #ddd;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px; }
    .single-client-page .scheduling .scheduling-list .single-scheduling .status .signal.success {
      background: #78D44F; }
    .single-client-page .scheduling .scheduling-list .single-scheduling .status .signal.error {
      background: #F66060; }
    .single-client-page .scheduling .scheduling-list .single-scheduling .status .signal.warning {
      background: #E0D72F; }
  .single-client-page .scheduling .scheduling-list .single-scheduling .info {
    font-size: 15px;
    color: #4C4C4C;
    margin-bottom: 5px; }
    .single-client-page .scheduling .scheduling-list .single-scheduling .info .highlight {
      color: #05BDFF; }

.single-client-page .results .header {
  padding: 5px 0px; }
  .single-client-page .results .header h3 {
    font-weight: 600; }

.single-client-page .results .list-group {
  border: none; }
  .single-client-page .results .list-group .list-group-item {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    border-radius: 0px; }
    .single-client-page .results .list-group .list-group-item:last-child {
      border: none; }
    .single-client-page .results .list-group .list-group-item .date {
      font-weight: 600;
      color: #4C4C4C;
      margin-right: 10px; }
    .single-client-page .results .list-group .list-group-item .code {
      color: #4C4C4C; }
    .single-client-page .results .list-group .list-group-item .message {
      color: #A3A5AB; }
      .single-client-page .results .list-group .list-group-item .message img {
        margin-left: 5px; }

/**
 * Single Assessment Page
 */
.single-assessment-page .assessment-info-block {
  background: #fff; }
  .single-assessment-page .assessment-info-block .assessment-info .client-details span.font-weight-bold {
    font-weight: 600; }
  .single-assessment-page .assessment-info-block .assessment-info .client-details span.value {
    color: #777; }
  .single-assessment-page .assessment-info-block .assessment-actions {
    border-top: 1px solid #ddd; }
    .single-assessment-page .assessment-info-block .assessment-actions .col-md-6:first-child {
      border-right: 1px solid #ddd; }
    .single-assessment-page .assessment-info-block .assessment-actions button {
      background: none;
      border: 0px;
      padding: 12px;
      outline: none; }

.single-assessment-page .single-assessment-details {
  margin-top: 25px; }
  .single-assessment-page .single-assessment-details h4 {
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0px; }
  .single-assessment-page .single-assessment-details p {
    font-size: 15px;
    color: #666; }

/**
 * Popup
 */
.popup .popup-dialog .popup-header {
  background: #304BB1;
  color: #fff;
  padding-bottom: 1px; }
  .popup .popup-dialog .popup-header .popup-title {
    padding: 10px; }
    .popup .popup-dialog .popup-header .popup-title h3 {
      font-size: 17px;
      margin: 5px; }
    .popup .popup-dialog .popup-header .popup-title .col-md-1:first-child .btn-icon {
      float: left; }
      .popup .popup-dialog .popup-header .popup-title .col-md-1:first-child .btn-icon img {
        width: 24px; }
    .popup .popup-dialog .popup-header .popup-title .col-md-1:last-child .btn-icon {
      float: right; }
      .popup .popup-dialog .popup-header .popup-title .col-md-1:last-child .btn-icon img {
        max-width: 20px; }

.popup .popup-dialog .popup-search {
  margin: 0px 20px;
  position: relative; }
  .popup .popup-dialog .popup-search input {
    margin-bottom: 20px;
    outline: none;
    border: none; }
    .popup .popup-dialog .popup-search input:focus + label {
      display: none; }
  .popup .popup-dialog .popup-search .search-label {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ddd;
    margin-top: -12px;
    margin-left: -32px; }

.popup .popup-dialog .popup-body {
  background: #f3f3f3;
  padding: 30px; }
  .popup .popup-dialog .popup-body .list-group {
    border: 0px; }
    .popup .popup-dialog .popup-body .list-group .list-group-item {
      border: 0px;
      border-bottom: 1px solid #eee;
      margin: 0px;
      border-radius: 0px; }
      .popup .popup-dialog .popup-body .list-group .list-group-item.checked {
        background: #EFFFE9; }
        .popup .popup-dialog .popup-body .list-group .list-group-item.checked .check {
          background: url("../assets/images/checked.png");
          height: 20px;
          display: inline-block;
          width: 20px;
          background-size: contain;
          position: relative;
          top: 5px; }
  .popup .popup-dialog .popup-body .selected_requests {
    border: 2px dashed #05BDFF;
    padding: 10px; }
    .popup .popup-dialog .popup-body .selected_requests a {
      background: #05BDFF;
      display: inline-block;
      padding: 5px 10px;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      margin-right: 5px; }
      .popup .popup-dialog .popup-body .selected_requests a span.cross {
        margin-left: 5px; }

.popup .popup-dialog .popup-footer {
  background: #fff;
  padding: 20px;
  border-top: 1px solid #ddd;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2); }

.popup.popup-confirmed .popup-dialog .popup-body {
  background: #fff; }
  .popup.popup-confirmed .popup-dialog .popup-body h3 {
    font-size: 1.5rem; }

.popup.popup-confirmed .popup-dialog .popup-footer {
  background: #fff;
  box-shadow: none;
  padding: 0px; }
  .popup.popup-confirmed .popup-dialog .popup-footer .btn {
    padding: 15px;
    background: #fff;
    border: 0px;
    color: #444;
    text-align: center;
    width: 100%;
    outline: none;
    box-shadow: none;
    cursor: pointer; }

/**
 * Account Pages
 */
.account-page .plans-table thead th {
  text-align: center;
  padding: 0.5rem; }
  .account-page .plans-table thead th:first-child {
    text-align: left;
    padding-left: 0px; }
  .account-page .plans-table thead th.free {
    background: #333;
    color: #fff;
    border-radius: 10px 10px 0px 0px; }

.account-page .plans-table tbody {
  background: #fff; }
  .account-page .plans-table tbody td {
    vertical-align: middle;
    border-right: 1px solid #eee;
    text-align: center;
    border-top: none; }
  .account-page .plans-table tbody td:first-child {
    width: 300px;
    min-width: 300px;
    text-align: left; }
    .account-page .plans-table tbody td:first-child img {
      margin-right: 10px;
      float: left;
      max-height: 24px; }
    .account-page .plans-table tbody td:first-child img, .account-page .plans-table tbody td:first-child p {
      display: block;
      margin-bottom: 0px; }
  .account-page .plans-table tbody span.check {
    width: 30px;
    height: 30px;
    background: url("/assets/images/checked.png");
    display: inline-block; }
  .account-page .plans-table tbody .actions button {
    padding: 10px; }
    .account-page .plans-table tbody .actions button.free {
      background: #333;
      color: #fff; }
    .account-page .plans-table tbody .actions button p.price {
      margin: 0px;
      font-size: 1.5rem;
      font-weight: bold; }
    .account-page .plans-table tbody .actions button p.small {
      margin: 0px;
      margin-bottom: 5px; }

.schedule_setting h4 {
  font-size: 18px;
  color: #333; }

.schedule_setting label {
  color: #555; }

/**
 * Start Assessment Page
 */
.assessment-page.fullpage {
  margin-bottom: 0px !important; }

.assessment-page .fullpage-popup {
  height: 100vh;
  background: linear-gradient(0deg, #304BB1 0%, #05BDFF 100%); }
  .assessment-page .fullpage-popup .popup-header {
    padding: 15px; }
    .assessment-page .fullpage-popup .popup-header h3 {
      color: #fff;
      font-size: 21px;
      margin-top: 5px; }
    .assessment-page .fullpage-popup .popup-header .btn {
      background: none;
      border: 0px;
      outline: none;
      box-shadow: none; }
      .assessment-page .fullpage-popup .popup-header .btn:focus {
        outline: none; }
  .assessment-page .fullpage-popup .popup-body {
    position: absolute;
    top: 50%;
    margin-top: -110px;
    width: 100%;
    color: #fff; }
    .assessment-page .fullpage-popup .popup-body .lead {
      font-size: 28px; }

.modal-divider {
  padding: 20px 0px;
  display: block; }
