// Variables
$green : #78D44F;
$light-grey : #DEDFE3;
$blue : #304BB1;
$blue-darker : #3553BA;
$blue-light:#05BDFF;

// Font Sizes
$fontSmall : 13px;
$fontMedium : 16px;
$fontLead: 21px;
$fontLarge: 24px;

// Buttons Font Size
$btnFontSmall: 14px;

$shadow: 0px 0px 10px rgba(2,2,2,0.3);

// _reset.scss
html, body{
    font-size: 16px!important;
}
body{
    background: #eee;
}
.pad30{
	padding-top: 30px;
}
.pad60{
	padding-top: 60px;
}
.btn.btn-default{
	font-size: $btnFontSmall;
	padding: 10px 15px;
	border-radius: 4px;	
	background-color: $blue-light;
	border: none;
	color: #fff;
	font-size: 15px;
	outline: none;
	box-shadow: none;
}
.btn.btn-primary{
	font-size: $btnFontSmall;
	padding: 10px;
	border-radius: 4px;	
	background-color: $green;
	border: none;
}
.btn.btn-success{
	background: #78D44F;
	border-color: #78D44F;
	outline: none;
	box-shadow: none;
}
h4.legend{
	color:#373737;
	font-size: $fontMedium + 2;
}
.btn-icon{
	background: none;
	border: 0px;
	outline: 0px;
	padding: 0px;
	&:focus{
		outline: none;
	}
}
.minus-top-2{
	position: relative;
	top:-2px;
}
.color-white{
	color: #fff!important;
}
.bg-white{
	background: #fff!important;
}
hr.line{
	box-sizing: border-box;	
	height: 2px;	
	border: 1px solid #FFFFFF;	
	opacity: 0.3;
}

.font-small{
	font-size: $fontSmall!important;
}
.font-medium{
	font-size: $fontMedium!important;
}
.font-lead{
	font-size: $fontLead!important;
}
.font-large{
	font-size: $fontLarge!important;
}
.attach_client{
	position: relative;
	top:-5px;
	.checkbox-input{
		width: 24px;
		height: 24px;
		border: 2px solid #eee;
		border-radius: 4px;
		display: inline-block;
		margin-right: 5px;
	    position: relative;
	    top: 6px;
	}
	input{
		display: none;
	}
	input:checked + .checkbox-input{
		background: $blue-light;
		border-color: $blue-light;
		&:before{
			content: "";
			width: 20px;
			height: 20px;
		}
	}
	label{
		color: #888;
	}
}
form{
	label{
		font-size: $fontSmall;
		margin-bottom: 3px;
	    color: #777;
	}
	.form-control{
		outline: none;
		border: none;
		border-radius: 4px;
	}
}
#main{
	margin-bottom: 60px;
}
.radio-group{
	.radio-input{
		display: inline-block;
		border: 1px solid #05BDFF;
		margin:0px -3px;
		input{
			display: none;
		}
		label{
			padding: 10px 30px;
			margin:0px;
			cursor: pointer;
			font-size: 15px;
		}
		input:checked + label{
			background: #05BDFF;
			color: #fff;
		}
	}
}
.form-control{
	padding: 10px 10px;
	border: 1px solid #ddd!important;
}
img.check{
	width: 20px;
	position: relative;
	top: -1px;
}
.search-label{
	img{
		width: 18px;
		position: relative;
		top:-2px;
	}
}
.nav{
	position: fixed;
	bottom: 0px;
	display: block;
	width: 100%;
	background: #fff;
	box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
	height: 55px;
	.menu{
		ul{
			list-style: none;
			margin-bottom: 0px;
			padding: 0px;
			li{
				text-align: center;
				list-style: none;
				display: inline-block;
				width: 100px;
				padding: 5px;
				a{
					text-decoration: none;
				}
				&.active{
					p{
						color: #05BDFF;
					}
					img{
						-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
					    filter: grayscale(0%);
					}
				}
				p{
					margin-bottom: 0px;
					color: #888;
					font-size: $fontSmall;
				}
				img{
					-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
				    filter: grayscale(100%);
				}
			}
		}
	}
}

.login-page{
	background: $blue;
	height: 100vh;
	color: #fff;
	margin-bottom: 0px!important;
	padding: 0px 50px;
	.container, .row{
		height: 100vh;
	}
}


/**
 * Home Page
 */
.home-page{
	.home-header{
		padding: 30px 0px;
		background: $blue;
		color: #fff;
	}
}
.home-actions{
	position: relative;
	.home-action{
		padding: 30px;
		text-align: center;
		box-shadow: $shadow;
		border-radius: 4px;
		z-index: 2;
		background: #fff;
		img{
			width: 90px;
			height: 80px;
		}
	}
	.bg-overlay{
		position: absolute;
		height: 80px;
		background: $blue;
		width: 100%;
		z-index: -1;
	}
}
.home-page{
	.activity{
		.list-group-item{
			strong, span{
				padding-left: 5px;
			}
		}
	}
}
/**
 * Assessments Page
 */
.inner-page{
	.inner-page-nav{
		a{
		    color: inherit;
		    text-decoration: none;
		}
	}
	.inner-page-header{
		background: $blue;
		color: #fff;
		h4{
			font-size: 18px;
			font-weight: 600;
		}
		.inner-page-search{
			position: relative;
			background: #fff;
			border-radius: 4px;
			.form-control{
				background: none;
				&:focus + label{
					display: none;
				}
			}
			label{
				transition: 0.3s;
			}
			.search-label{
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -34px;
				margin-top: -12px;
				color: #A3A5AB;
			}
		}
	}
	.inner-page-list{
		.li-block{
			background: #fff;
			padding: 15px 20px;
			border-bottom: 1px solid #ddd;
			&.active{
				border-left: 5px solid #05BDFF;
				padding-left: 15px;
				position: relative;
				&:after{
					content: "";
					height: 16px;
					width: 16px;
					background: #eee;
					position: absolute;
					right: -8px;
					top: 50%;
					margin-top: -8px;
					transform: rotate(45deg);
				}
			}
			p{
				margin-top: 0px;
				&.small{
					color: #888;
					margin-bottom: 0px;
				}
			}
		}
	}
	.inner-page-content{
		background: #eee;
		padding: 0px 30px;
		min-height: 100vh;
	}
	.common-assessment-content{
		.page-header{
			padding: 30px 0px;
			font-weight: bold;
		}
		a{
			text-decoration: none;
			&:hover{
				text-decoration: none;
			}
		}
		.single-assessment{
			background: #fff;
			position: relative;
			margin-bottom: 30px;
			h3{
				font-size: 18px;
				color: $blue;
				font-weight: 600;
			}
			p{
				color: #666;
			}
			&:before {
			  content: "";
			  position: absolute;
			  top: 0;
			  right: 0;
			  border-width: 0 30px 30px 0;
			  border-style: solid;
			  border-color: #e3e3e3 #eee;
			}
		}
	}
}

/**
 * Clients Page
 */
.clients-page{
	.inner-page-list{
		.li-block.active{
			p:first-child{
				font-weight: 600;
			}
		}
	}
}
.single-client-page{
	.client-info-block{
		background: #fff;
		.client-info{
			.client-details{
				span.font-weight-bold{
					font-weight: 600;
				}
				span.value{
					color: #777;
				}
			}
			button{
				img{
					position: relative;
					top:-2px;
					margin-right: 2px;
				}
				// padding-left: 20px;
				// padding-right: 20px;
			}
		}
		.client-actions{
			border-top: 1px solid #ddd;
			.col-md-6:first-child{
				border-right: 1px solid #ddd;
			}
			button{
				background: none;
				border: 0px;
				padding: 12px;
				outline: none;
			}
		}
	}
	.scheduling{
		.header{
			padding: 10px 0px;
			h3{
				font-weight: 600;
			}
			a{
				color:#304BB1;
				margin-left: 15px;
			}
		}
		.scheduling-list{
			.single-scheduling{
				background: #fff;
				padding: 20px;
				border-bottom: 1px solid #ddd;
				&:last-child{
					border-bottom: 0px;
				}
				.status{
					.signal{
						height: 10px;
						width: 10px;
						background: #ddd;
						border-radius: 50%;
						display: inline-block;
						margin-right:4px;
						&.success{
							background: #78D44F;
						}
						&.error{
							background: #F66060;
						}
						&.warning{
							background: #E0D72F;
						}
					}
				}
				.info{
					font-size: 15px;
					color:#4C4C4C;
					margin-bottom: 5px;
					.highlight{
						color: #05BDFF;
					}
				}
			}
		}
	}
	.results{
		.header{
			padding: 5px 0px;
			h3{
				font-weight: 600;
			}
		}
		.list-group{
			border: none;
			.list-group-item{
				border: none;
				border-bottom: 1px solid #ddd;
				margin: 0px;
				border-radius: 0px;
				&:last-child{
					border: none;
				}
				.date{
					font-weight: 600;
					color:#4C4C4C;
					margin-right: 10px;
				}
				.code{
					color: #4C4C4C;
				}
				.message{
					color: #A3A5AB;
					img{
						margin-left: 5px;
					}
				}
			}
		}
	}
}

/**
 * Single Assessment Page
 */
.single-assessment-page{
	.assessment-info-block{
		background: #fff;
		.assessment-info{
			.client-details{
				span.font-weight-bold{
					font-weight: 600;
				}
				span.value{
					color: #777;
				}
			}
			button{
				// padding-left: 20px;
				// padding-right: 20px;
			}
		}
		.assessment-actions{
			border-top: 1px solid #ddd;
			.col-md-6:first-child{
				border-right: 1px solid #ddd;
			}
			button{
				background: none;
				border: 0px;
				padding: 12px;
				outline: none;
			}
		}
	}
	.single-assessment-details{
		margin-top: 25px;
		h4{
			font-size: 15px;
			font-weight: 600;
			margin: 10px 0px;
		}
		p{
			font-size: 15px;
			color: #666;
		}
	}
}

/**
 * Popup
 */
.popup{
	.popup-dialog{
		.popup-header{
			background: $blue;
			color: #fff;
		    padding-bottom: 1px;
			.popup-title{
				h3{
					font-size: $fontMedium + 1;
					margin: 5px;
				}
				padding: 10px;
				.col-md-1:first-child{
					.btn-icon{
						float: left;
						img{
							width: 24px;
						}
					}
				}
				.col-md-1:last-child{
					.btn-icon{
						float: right;
						img{
							max-width: 20px;
						}
					}
				}
			}
		}
		.popup-search{
			margin: 0px 20px;
			position: relative;
			input{
				margin-bottom: 20px;
				outline: none;
				border: none;
				&:focus+label{
					display: none;
				}
			}
			.search-label{
				position: absolute;
				top: 50%;
				left: 50%;
				color: #ddd;
				margin-top: -12px;
				margin-left: -32px;
			}
		}
		.popup-body{
			background: #f3f3f3;
			padding: 30px;
			.list-group{
				border: 0px;
				.list-group-item{
					border: 0px;
					border-bottom: 1px solid #eee;
					margin: 0px;
					border-radius: 0px;
					&.checked{
						background: #EFFFE9;
						.check{
							background: url('../assets/images/checked.png');
							height: 20px;
						    display: inline-block;
						    width: 20px;
						    background-size: contain;
						    position: relative;
						    top: 5px;
						}
					}
				}
			}
			.selected_requests{
				border: 2px dashed #05BDFF;
				padding: 10px;
				a{
					background: #05BDFF;
					display: inline-block;
					padding: 5px 10px;
					color: #fff;
					text-decoration: none;
					font-weight: bold;
					span.cross{
						margin-left: 5px;
					}
					margin-right: 5px;
				}
			}
		}
		.popup-footer{
			background: #fff;
			padding: 20px;
			border-top: 1px solid #ddd;
			box-shadow: 0px -2px 10px rgba(0,0,0,.2);
		}
	}
	&.popup-confirmed{
		.popup-dialog{
			.popup-body{
				background: #fff;
				h3{
					font-size: 1.5rem;
				}
			}
			.popup-footer{
				background: #fff;
				box-shadow: none;
				padding: 0px;
				.btn{
					padding: 15px;
					background: #fff;
					border: 0px;
					color: #444;
					text-align: center;
					width: 100%;
					outline: none;
					box-shadow: none;
					cursor: pointer;
				}
			}
		}
	}
}

/**
 * Account Pages
 */
.account-page{
	.plans-table{
		thead{
			th{
				text-align: center;
				padding: 0.5rem;
				&:first-child{
					text-align: left;
					padding-left: 0px;
				}
				&.free{
					background: #333;
				    color: #fff;
				    border-radius: 10px 10px 0px 0px;
				}
			}
		}
		tbody{
			background: #fff;
			td{
				vertical-align: middle;
				border-right: 1px solid #eee;
				text-align: center;
				border-top: none;
			}
			td:first-child{
				width: 300px;
				min-width: 300px;
				text-align: left;
				img{
					margin-right: 10px;
					float:left;
					max-height: 24px;
				}
				img, p{
					display: block;
					margin-bottom: 0px;
				}
			}
			span.check{
				width: 30px;
				height: 30px;
				background: url('/assets/images/checked.png');
				display: inline-block;
			}
			.actions{
				button{
					padding: 10px;
					&.free{
						background: #333;
						color: #fff;
					}
					p.price{
						margin: 0px;
						font-size: 1.5rem;
						font-weight: bold;
					}
					p.small{
						margin:0px;
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}
.schedule_setting{
	h4{
		font-size: 18px;
		color: #333;
	}
	label{
		color: #555;
	}
}
/**
 * Start Assessment Page
 */
.assessment-page{
	&.fullpage{
		margin-bottom: 0px!important;
	}
	.fullpage-popup{
		height: 100vh;
		background: linear-gradient(0deg, #304BB1 0%, #05BDFF 100%);
		.popup-header{
			padding: 15px;
			h3{
				color: #fff;
				font-size: 21px;
				margin-top: 5px;
			}
			.btn{
				background: none;
				border: 0px;
				outline: none;
				box-shadow: none;
				&:focus{
					outline: none;
				}
			}
		}
		.popup-body{
		    position: absolute;
		    top: 50%;
		    margin-top: -110px;
		    width: 100%;
		    color: #fff;
			.lead{
				font-size: 28px;
			}
		}
	}
}
.modal-divider{
	padding: 20px 0px;
	display: block;
}